@using  SGI.PI.Web.Models
@model NewLoginViewModel
@{ 
    ViewBag.Title = "SISTEMA DE GESTAO INTERNA";
}

<div class="row">
    <div class="col-md-8">
        <img src="./assets/images/LOGOTIPO.png" class="card-img-top text-center" alt="Logotipo da CIMATECJr" />
        <h5 class="card-title">SISTEMA DE GESTÃO INTERNA</h5>
        <section id="loginForm">
            @using (Html.BeginForm("LoginTeste", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Efetuar login" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script>

</script>


<style>

    #card-login {
        max-width: 25rem;
        background-color: #FFFFFF;
        opacity: 0.7;
        margin-top: 100px;
        margin-left: 750px;
    }

    .card-title {
        color: #000000;
        text-align: center;
        font-family: 'Noto Sans HK', sans-serif;
    }

    .card-img-top {
        width: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .form-login {
        font-size: 15px;
        font-family: 'Noto Sans HK', sans-serif;
        color: #000000;
    }

    .btn .btn-light .btn-login {
        margin-right: 200px;
        align-self: right;
    }
</style>
